html {
	background-color: black;
}

body {
	font-family: 'roboto', sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
}

main {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: #d9a83e;
	transition: 0.25s;
	
		&:hover{
			color: #d96a3e;
		}

		&:visited {
			color: #d96a3e;

			&:hover {
				color: #d9a83e;
			}
		}
	}

.hoverable {
	transition: ease-in-out 0.25s;
	box-sizing: border-box;
	
	&:visited {
		&:hover {
			color: #dddddd;
		}
	}
	
	&:hover {
		background-color: rgba(#d96a3e, 0.3);
	}
	
}

.some-top-margin {
	margin-top: 30px;
}

.more-top-margin {
	margin-top: 60px;
}

.some-top-padding {
	padding-top: 30px;
}

.more-top-padding {
	padding-top: 60px;
	
	&--on-mobile {
		padding-top: 60px;
		
		@mixin atLarge {
			padding-top: 0px;
		}
	}
}

.some-bottom-padding {
	padding-bottom: 30px;
}

.more-bottom-padding {
	padding-bottom: 60px;
	
	&--on-mobile {
		padding-bottom: 60px;
		
		@mixin atLarge {
			padding-bottom: 0px;
		}
	}
}

.transparent-box {
	background-color: rgba(0, 0, 0, 0.6);
}

.headshot {
	display: none;
	
	@mixin atSmall {
		display: block;
		width: 70%;
		transform: translateX(25%);
	}
	
	@mixin atMedium {
		width: 50%;
		transform: translateX(50%);
	}
	
	@mixin atLarge {
		width: 100%;
		transform: none;
	}
	
	&__on-micro {
		width: 80%;
		padding: 0 10% 10% 10%;
		
		@mixin atSmall {
			display: none;
		}
	}
}

.text-icon {
	height: 1.5rem;
	
	@mixin atLarge {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

}

.reveal-item {
	opacity: 0;
	transition: 1s;
	
	&--is-visible {
		opacity: 1;
	}
}

.is-current-link {
	background-color: #d96a3e;
}

