body {
	font-family: 'roboto', sans-serif;
	color: #333;
    margin: 0;
    padding: 0;
}
main {
    overflow: hidden; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
        margin: 0;
}

.some-top-padding {
    padding-top: 30px;
}

.some-bottom-padding {
    padding-bottom: 30px;
}