.header {
	color: white;
	padding: 10px;
	display: block;
	margin: 0;
	font-weight: 300;
	box-sizing: border-box;
	text-align:center;

	&__site {
		font-size: 1.5rem;
		width: 80%;
		margin: auto;

		@mixin atSmall {
			width: initial;
			padding-top: 0;
		}

		@mixin atMedium {
			font-size: 2.5rem;
		}
		
		&__container {
			width: 100%;
			margin-bottom: 100px;

			@mixin atLarge {
				position: absolute;
				left: 50%;
				top: 45%;
				width: initial;
				transform: translateX(-50%);
				margin-bottom: 0;
			}

			@mixin atVeryLarge {
				top: 50%;
			}

		}

		&__byline {
			padding: 10px;
			font-weight: 300;
			color: white;
			text-align: center;
		}
	}

	&__section {
		
	}

	&--centered {
		margin: 0 auto 0 auto;
		display: block;
	}

	&--right-on-large {

		@mixin atVeryLarge {
			float: right;
		}
	}
	
	&--bot-pad {
		padding-bottom: 40px;
	}
}