/* Color for testing*/
#home {
    background-color: lightgrey;
}
#our-films {
    background-color: #1c1c1c;
}
#who-we-are {
    background-color: lightgrey;
}
/* -end- */

.page {
    width: 100%;
    height: 100vh;
    box-sizing: border-box; 
    
    &__video-container {
        display: block;
        width: 100vw;
        height: 100%;
        background-color: black;
        pointer-events: none;
        box-sizing: border-box;
        margin:0;
        padding: 0;
        overflow: hidden; 
        
        iframe {
            width: 100%; 
            height: 56.25vw; /* 100/56.25 = 560/315 = 1.778 */
            background:black;
            margin: 0 auto 0 auto;
        }
    }
}