.page {
	width: 100%;
	box-sizing: border-box; 
	overflow: hidden;

	@mixin atVeryLarge {
		height: 100vh;
	}

	&__video-container {
		display: none;

		@mixin atLarge {
			
			display: block;
			background-color: black;
			pointer-events: none;
			box-sizing: border-box;
			margin:0;
			padding: 0;
			overflow: hidden;
		}
		
		@mixin atVeryLarge {
			height: 100vh;
		}

		& iframe {
			height: 100%;

			@mixin atLarge {
				height: 100%;
				width: 100%;
			}

			@mixin atLarge {
				width: 100%; 
				height: 56.25vw;
				background-color: #1c1c1c;
				margin: 0 auto 0 auto;
			}
		}
	}
}

#home {
	background-color: black;
}

#our-films {
	background-color: black;
	position: relative;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
	@mixin atVeryLarge {
		height: 100vh;
		padding-top: 10vh;
		padding-bottom: 10vh;
		padding-left: 2vw;
		padding-right: 2vw;
		flex-wrap: nowrap;
	}
}

#who-we-are {
	background-color: #1c1c1c;
	
	@mixin atLarge {
	}
	
}