.paragraph {
	color: #e0e0e0;
	font-weight: 400;
	margin: 0px;
	padding: 16px;
	font-size: 1rem;

	@mixin atVeryLarge {
		font-size: 1.3rem;
		font-weight: 300;
	}
	
	&--spaced {
		line-height: 2.2rem;
	}
	
	&--no-top-padding {
		padding-top: 0;
	}
	
	&--centered {
		text-align: center;
	}
	
	&__centered-container {
		display: block;
		margin: auto;
		max-width: 600px;
	}
}